header
  title NZXT pump interface 
  link(rel='stylesheet', href='/css/style.css')
body 
  div#outer_ring
  svg#svg(width='640', height='640')
    // CPU ---
    path#cpu_bar
    path#cpu_label_path
    text
      textPath#cpu_label(href='#cpu_label_path', startOffset='50%', text-anchor='middle') CPU
    // GPU ---
    path#gpu_bar
    path#gpu_label_path
    text
      textPath#gpu_label(href='#gpu_label_path', startOffset='50%', text-anchor='middle') GPU
    // Date
    path#date_path
    //text
      textPath#date(href='#date_path', startOffset='50%', text-anchor='middle')
  div#cpu_temp 42
  div#gpu_temp 42
  div#date
  script(type='module', src='/js/main.js')